<div class="book_edit_container">
<div class="img_container"><%= image_tag(@book.image.url)  %></div>
<ul class="book_new_form">
  <%= form_for @book, url: {action: "update"} do |f| %>
  <li>タイトル：<%= f.text_field :title %></li>
  <li>著者：<%= f.text_field :author %></li>
  <li>値段：<%= f.text_field :price %></li>
  <li>カテゴリー:<%= f.select :category_id , Category.all_ary%></li>
  <li>個数：<%= f.text_field :count %></li>
  <li><%= f.submit %></li>
<% end %>
</ul>
</div>
