
<ul class="book_new_form">
  <%= form_for @user, url: {action: "update"} do |f| %>
  <li>名前：<%= f.text_field :name %></li>
  <li>password：<%= f.password_field :password %></li>
  <li>email：<%= f.text_field :email%></li>
  <li>学年：<%= f.text_field :year %></li>
  <li><%= f.submit %></li>
<% end %>
</ul>
