
 <div class="container">
    <h1 class="user_form_title">新規登録</h1>
    <%= form_for @user, url: {action: "create"} ,html: {class: 'user_new_form'} do |f| %>
      <ul>
        <li><%= f.label :name, "名前" %><%= f.text_field :name %> </li>
        <li><%= f.label :name, "email" %><%= f.text_field :email %></li>
        <li><%= f.label :name, "パスワード"  %>  <%= f.text_field :password %></li>
        <li><%= f.label :name, "学部"%>   <%= f.text_field :faculty %></li>
        <li><%= f.label :name, "学科"%>   <%= f.text_field :department %></li>
        <li><%= f.label :name, "学年"%>   <%= f.text_field :year%> </li>
        <li><%= f.submit("登録", id: "login-button") %></li>
      </ul></li>
<% end %>
</div>
<script>
 $("#login-button").click(function(event){
       $('form').fadeOut(500);
       $('.wrapper').addClass('form-success');
       $("h1").text("Thank You!");
       });
</script>
