
<ul class="user_info_list">
  <li>名前 <%= @user.name %>      </li>
  <li>学部 <%= @user.faculty %>   </li>
  <li>学科 <%= @user.department %></li>
  <li>学年 <%= @user.year %>年      </li>
  <li>email <%= @user.email %><br> </li>
</ul>
<%= link_to "登録情報変更", edit_user_path(params[:id]) %><br>
<%= link_to "予約履歴", user_logs_path(params[:id]) %><br />
<%= link_to "Go to admin", admin_books_path %>
<%= link_to(logout_path(params[:id]), :method =>"delete", :action => 'delete') do %>
  <br>
  <span>logout</span>
<% end %>
