
  <table class="admin_logs_index">
    <tr>
      <th>ユーザー名</th>
      <th>メールアドレス</th>
      <th>タイトル</th>
      <th>個数</th>
      <th>確認済み</th>
      <th>確認済み</th>
    </tr>
    <% logs.each do |log| %>
      <tr>
      <td><%= link_to(admin_log_path(log.id)) do %>
        <%= log.user.name %>
      <% end %>
      </td>
      <td><%= log.user.email %></td>
      <% if log.book.present? %>
        <td><%= log.book.title %></td>
        <td><%= log.count %></td>
        <td><%= log.is_processed %></td>
        <td><%= render partial: "/shared/toggle_confirm_form", locals: {log:log} %>
      <% end %>
    </tr>
  <% end %>
  </table>
