<%if !(logged_in?)%>
  <% session[:requested_book_id] = @book.id %>
<% end %>
<div class="book_main">
  <h2 class='book_title'><%= @book.title %></h2>
  <ul>
    <li><%= image_tag (@book.image.thumb.url) %></li>
    <li class="title"><%= @book.title %></li>
    <li>著者:<%= @book.author %></li>
    <li>残り:<%= @book.count%>冊</li>
    <li class="price"><span>¥</span><%= @book.price %></li>
    <% if @book.count > 0 && current_user %>
      <%= form_for @log,{ url: user_logs_path(current_user.id)} do |f| %>
        <%= f.hidden_field :user_id, value: session[:user_id] %>
        <%= f.hidden_field :book_id , value: params[:id] %>
        <%= f.hidden_field :count , value: "1" %>
        <%= f.submit("予約する", class:"button_orange") %>
      <% end %>
    <% end %>
    <%= link_to "予約する", login_path, class: "button_orange" unless @book.count > 0 && current_user%> 
  </ul>
</div>
<div class="background_box"></div>
