
<ul class="book_new_form">
  <%= form_for @log, url: {action: "create"} do |f| %>
  <li>名前：<%= f.text_field :name %></li>
  <li>password：<%= f.password_field :password %></li>
  <li>email：<%= f.text_field :email%></li>
  <li>学年：<%= f.text_field :year %></li>
  <li><%= f.submit("予約") %></li>
<% end %>
</ul>
