<head>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1"> 
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'jquery' %>
</head>

<%= yield %>
<footer> 
  <ul class="admin_footer">
    <li><%= link_to(root_path) do %><%= fa_icon "lg home"%><br><span>home</span><% end %></li>
    <li><%= link_to(admin_books_path) do %><%= fa_icon "lg list"%><br><span>index</span><% end %></li>
    <li><%= link_to(admin_logs_path) do %><%= fa_icon "lg book"%><br><span>reservation</span><% end %></li>
    <li><%= link_to(new_admin_book_path) do %><%= fa_icon "lg plus"%><br><span>new</span><% end %></li>
  </ul>
</footer>
