<!DOCTYPE html>
<html>
  <head>
    <title>SftApp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1"> 
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="bottom_fixed">
    </div>
    <%= yield %>
    <footer>
      <ul class="head_menu">
      <li><%= link_to(root_path) do %><%= fa_icon "lg home"%><br><span>home</span><% end %></li>
      <li><%= link_to(categories_path) do %><%= fa_icon "lg search"%><br><span>search</span><% end %></li>
      <li><%= link_to("#") do %><%= fa_icon "lg book"%><br><span>book</span><% end %></li>
      <% if is_login? %> 
        <li><%= link_to(user_path(session[:user_id])) do %><%= fa_icon "lg user"%><br><span>my page</span><% end %></li>
      <% elsif is_admin? %>
        <li><%= link_to(admin_books_path) do %><%= fa_icon "lg user"%><br><span>admin</span><% end %></li>
      <% else %>
        <li><%= link_to(admin_session_path(1)) do %><%= fa_icon "lg sign-in"%><br><span>login</span><% end %></li>
      <% end %>
      </ul>
    </footer>
  </body>
</html>
